* {
  box-sizing: border-box;
}

body {
  /* FONTS */
  --headerFont: 'Cinzel', serif;
  --bodyFont: 'Fira Sans Extra Condensed', sans-serif;

  /* COLORS */
  --bodyText: #3a3a3a;
  --bgAreaBlock: #c6bcae;
  --pageBg: #eae4dc;
  --navTxt: #3f8a72;
  --highlight: #f97c00;
  --ghosty: #ffec5f;
}

.makerHdr {
  grid-area: header;
  background-color: var(--bgAreaBlock);
}

.headerTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--headerFont);
  color: var(--bodyTxt);
}

.headerTxt > h3 {
  color: var(--bodyText) !important;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  font-family: var(--bodyFont);
  color: var(--navTxt);
  padding: 5px;
}

.navBar button {
  width: fit-content;
}

.navBar img {
  width: 20px;
  margin-right: 5px;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar > ul {
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style: none inside;
  padding-left: unset;
  margin: 0.25rem 1rem 0.25rem 1rem;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'makers makers makers'
    'devon julianne cameron'
    'katrina ghosty casey';
  font-family: var(--bodyFont);
}

.main h2 {
  grid-area: makers;
  display: flex;
  justify-content: center;
  font-family: var(--headerFont);
}

.makers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.makerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 2rem;
}

.makerCard figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.makerCard img {
  border-radius: 10px;
}

.makerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.makerInfo span {
  margin: 4px;
}

.makerInfo span:nth-child(1) {
  font-family: var(--headerFont);
  color: var(--navTxt);
}
