.homePage {
  display: grid;
  grid-area: 2 / 1 / 6 / 5;
}

.story {
  grid-area: 2 / 1 / 4 / 3;
}

.news {
  grid-area: 2 / 3 / 4 / 5;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'ImageCard1 ImageCard2 ImageCard3';
  grid-area: 4 / 1 / 5 / 5;
}

.gallery img {
  border: solid 2px salmon;
  width: 100%;
}

.gallery div {
  border: solid 2px yellowgreen;
}

.mission {
  grid-area: 5 / 1 / 6 / 5;
}
