.chatIcon {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	z-index: 1;
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: fit-content;
	height: fit-content;
	color: white;
	background-color: #3f8a72;
	padding: 2%;
	cursor: pointer;
}

.badge {
	margin-right: 1rem;
}

.topBar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: white;
}

.closeSpan {
	cursor: pointer;
	font-size: .9rem;
	font-weight: bold;
}

.chatBox {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	z-index: 1;
	background-color: rgba(128, 128, 128, 1);
	height: min-content;
	width: min-content;
	max-width: 50%;
	max-height: 70%;
	padding: 2%;
	position: fixed;
	bottom: 2%;
	right: 2%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;;
}

.messageList {
	list-style: none;
	padding-left: unset;
	align-self: flex-start;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	padding: .5rem;
	border-top: solid 2px #f97c00;
}

.messageList li {
	background-color: lightgray;
	width: 100%;
	border-bottom: solid 2px #3f8a72;
	margin-bottom: .5rem;
	padding: .5rem;
}

.selfMessage {
	text-align: right;
}

.sender {
	font-weight: bold;
	font-size: .8rem;
}

.messageSubmit {
	width: 100%;
	display: grid;
	grid-template-columns: 70% 30%;
}