.chatBox {
	z-index: 1;
	background-color: rgba(128, 128, 128, .75);
	width: fit-content;
	height: min-content;
	padding: 2%;
	position: absolute;
	bottom: 2%;
	right: 2%;
}

.messageList {
	list-style: none;
	padding-left: unset;
	background-color: aqua;
}

.messageList li {
	border-bottom: solid 2px hotpink;
}

.messageSubmit {
	background-color: tomato;
}