.companyProfile {
  display: flex;
  justify-content: space-around;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.story {
  display: flex;
  flex-direction: row;
  grid-area: 2 / 1 / 4 / 3;
  background-color: #c6bcae;
}

.story > figure {
  width: 100%;
}

.story > img {
  width: 100%;
}

.story > article {
  display: flex;
  flex-direction: column;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5%;
  grid-area: 2 / 3 / 4 / 5;
}

.news > article {
}

.news h3 {
  background-color: #f97c00;
}
