.ghost{
    z-index: 30;
	position: absolute;
	cursor: pointer;
	opacity: 40%;
	transform: rotate(20deg);
	background-color: none;
	transition:left 1s ease, bottom 1s ease;
}

.positionOne{
	left: -70px;
	bottom: 150px;
}

.positionTwo{
	left: -30px;
	bottom: 200px;
}

.positionThree{
	left: 10px;
	bottom: 250px;
	width: 11%;
}

.positionFour{
	left: 20px;
	bottom: 275px;
	width: 13%;
	cursor: auto;
}