.mission {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.missionHeader {
  font-size: 1.99rem;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #3f8a72;
  margin-top: 1%;
  margin-bottom: 1%;
}

.missionBody {
  font-size: 1rem;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin: 0;
}
