.hidden {
  z-index: -1000;
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: aqua;
}

.fadeIn {
  z-index: 1000;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.hiddenText1 {
  position: absolute;
  top: 10%;
  left: 25%;
  opacity: 1;
  font-size: 3rem;
}

.hiddenText2 {
  position: absolute;
  top: 10%;
  left: 85%;
  opacity: 1;
  font-size: 4rem;
}

.hiddenText3 {
  position: absolute;
  top: 75%;
  left: 30%;
  opacity: 1;
  font-size: 4rem;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
} */
