.hiddenElement {
  display: none;
  position: relative;
}

.hiddenText1 {
  position: absolute;
  opacity: 50%;
  font-size: larger;
}

.hiddenText1 {
  position: absolute;
  opacity: 50%;
  font-size: larger;
}

.hiddenText1 {
  position: absolute;
  opacity: 50%;
  font-size: larger;
}
